**BIG BIG HINT! Look in the instructions to guide you on this task.**

In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# load CSV
coders = "Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [3]:
# Read with pandas
coders_df = pd.read_csv(coders, low_memory=False)
coders_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [4]:
# Inspect all columns
coders_df.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [5]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
reduced_df = coders_df.iloc[:, [0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
reduced_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [6]:
# Calculate total number of respondents in survey
len(coders_df.index)

15620

In [7]:
#list columns
list(reduced_df)

['Age',
 'AttendedBootcamp',
 'BootcampFinish',
 'BootcampFullJobAfter',
 'BootcampLoanYesNo',
 'BootcampPostSalary',
 'BootcampRecommend',
 'ChildrenNumber',
 'CityPopulation',
 'CodeEventBootcamp',
 'CountryLive',
 'EmploymentField',
 'EmploymentStatus',
 'Gender',
 'HasChildren',
 'HoursLearning',
 'Income',
 'JobRoleInterest',
 'SchoolDegree',
 'SchoolMajor']

In [8]:
#total surveyed
total_surveyed = len(reduced_df)
total_surveyed

15620

In [9]:
# Change "0" to "No" and "1" to "Yes" in response columns
reduced_df= reduced_df.replace({0.0: "No", 1.0: "yes"})
reduced_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,No,30,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [10]:
# Extract rows corresponding only to people who attended a bootcamp
attended = reduced_df.loc[reduced_df["AttendedBootcamp"] == "yes"]
attended.count()

Age                     818
AttendedBootcamp        953
BootcampFinish          933
BootcampFullJobAfter    635
BootcampLoanYesNo       934
BootcampPostSalary      330
BootcampRecommend       937
ChildrenNumber          148
CityPopulation          823
CodeEventBootcamp        27
CountryLive             825
EmploymentField         476
EmploymentStatus        792
Gender                  833
HasChildren             211
HoursLearning           925
Income                  430
JobRoleInterest         402
SchoolDegree            832
SchoolMajor             622
dtype: int64

In [11]:
# Calculate average age of attendees
average_age= attended["Age"].mean()
round(average_age)

31

In [12]:
# Calculate how many people attended a bootcamp
boot_attend=coders_df["AttendedBootcamp"].sum()
boot_attend.astype(int)

953

In [13]:
#Count number of attendees hold degrees
degree_held= attended["SchoolDegree"].count()
degree_held

832

In [14]:
# Count number of attendees who self-identify as male; female; or are of non-binary gender identification
total_gender = attended["Gender"].count()
total_gender

833

In [15]:
male = attended["Gender"].value_counts()['male']
male

496

In [16]:
female = attended["Gender"].value_counts()['female']
female

326

In [17]:
non_binary = total_gender - male - female
non_binary

11

In [18]:
# Calculate percentage of respondents who attended a bootcamp .map({":,2f:}%".format)
percent_attend = boot_attend / total_surveyed*100
percent_attend

6.101152368758003

In [19]:
#percentage each gender
male_percent = (male/total_gender)*100
male_percent

59.5438175270108

In [20]:
female_percent = (female/total_gender)*100
female_percent

39.13565426170468

In [21]:
non_binary_percent = (non_binary/total_gender)*100
non_binary_percent

1.3205282112845138

In [22]:
# Calculate percentage of attendees with a school degree
degree_percent = (degree_held/boot_attend)*100
degree_percent

87.30325288562435

In [23]:
# Calculate average post-bootcamp salary
bootcamp_post_salary = reduced_df["BootcampPostSalary"].mean()
bootcamp_post_salary

63740.50606060606

In [1]:
# Create a new table consolodating above calculations
boot_table= pd.DataFrame({"Total Surveyed": [total_surveyed],
                         "Total Attendees": [boot_attend],
                         "Percent Attended": [percent_attend],
                         "Average Age": [average_age],
                         "Percent Male": [male_percent],
                         "Percent Female": [female_percent],
                         "Percent Non Binary": [non_binary_percent],
                        "Percent with Degree": [degree_percent],
                         "Average Post Camp Salary": [bootcamp_post_salary]})

boot_table = boot_table[["Total Surveyed","Total Attendees","Percent Attended","Average Age","Percent Male",
                         "Percent Female","Percent Non Binary","Percent Non Binary", "Average Post Camp Salary"]]

boot_table = boot_table.round(2)
boot_table.head

NameError: name 'pd' is not defined

In [30]:
# Improve formatting before outputting spreadsheet .map("{0:,.2f}%".format)
boot_table["Percent Male"]=boot_table["Percent Male"].map("{0:,.2f}%".format)
boot_table["Percent Female"]=boot_table["Percent Female"].map("{0:,.2f}%".format),
boot_table["Percent Non Binary"]=boot_table["Percent Non Binary"].map("{0:,.2f}%".format),
boot_table["Percent Attended"]=boot_table["Percent Attended"].map("{0:,.2f}%".format),
boot_table["Percent with Degree"]=boot_table["Percent with Degree"].map("{0:,.2f}%".format),
boot_table["Average Post Camp Salary"]=boot_table["Average Post Camp Salary"].map("${0:,.0f}%".format),
boot_table

TypeError: unsupported format string passed to tuple.__format__

In [ ]:
# Export to Excel
boot_table.to_excel("output/BootcampHW_CK.xlsx", index= False, header=True)