### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data["SN"].unique())
total_players
players = purchase_data.loc[:, ["SN", "Gender", "Age"]]
players = players.drop_duplicates()
number = players.count()[0]
pd.DataFrame({"player count":[number]})

   player count
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [4]:
items = len(purchase_data["Item ID"].unique())
items

183

In [5]:
avg_price =(purchase_data["Price"].mean())
avg_price

3.050987179487176

In [6]:
sum_data = pd.DataFrame({"Unique Items": items, "Average Price": [avg_price]})
sum_data

   Unique Items  Average Price
0           183       3.050987

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
count_players = players["Gender"].value_counts()
count_players
per_players = (count_players / number) * 100
per_players
df = pd.DataFrame({"Player Total":count_players, "Percentage Players":per_players})
df

                       Player Total  Percentage Players
Male                            484           84.027778
Female                           81           14.062500
Other / Non-Disclosed            11            1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
##Groupby is used so that 
pur_count = purchase_data.groupby(["Gender", "SN"]).count()["Price"]
pur_count

pur_price_avg = purchase_data.groupby(["Gender", "SN"]).mean()["Price"]
pur_price_avg

tot_val = purchase_data.groupby(["Gender", "SN"]).sum()["Price"]
tot_val

pur_person = purchase_data.groupby(["Gender", "SN"]).mean()["Price"]

In [9]:
df_sum = pd.DataFrame({"Purchase Count":pur_count, "Average Purchase Price":pur_price_avg, 
                       "Total Purchase Value":tot_val, "Avg Total Purchase per Person":pur_person})
df_sum

                                      Purchase Count  Average Purchase Price  \
Gender                SN
Female                Adastirin33                  1                4.480000
                      Aerithllora36                2                4.320000
                      Aethedru70                   1                3.540000
                      Aidain51                     1                3.450000
                      Aiduesu86                    1                4.480000
                      Aillyrin83                   1                2.890000
                      Aisurdru79                   2                1.755000
                      Assilsan72                   1                4.900000
                      Assosia88                    1                1.330000
                      Baelollodeu94                2                4.515000
                      Chadistaya75                 1                3.940000
                      Chamast86                    1                2.050000
                      Chamilsala65                 2                4.275000
                      Chamirrasya33                2                1.525000
                      Chamjask73                   3                4.610000
                      Chanastsda67                 1                3.700000
                      Chanirra79                   1                1.010000
                      Chanjask65                   1                4.320000
                      Chanossast57                 1                4.320000
                      Errian63                     1                3.490000
                      Eudanu32                     1                2.850000
                      Eudanu84                     1                1.020000
                      Eusri70                      2                3.670000
                      Frichaststa61                1                1.790000
                      Frichosia58                  1                4.430000
                      Frichosiala98                1                3.540000
                      Haisurra41                   1                4.400000
                      Hari50                       2                2.955000
                      Heosurnuru52                 2                2.230000
                      Heudai45                     1                3.470000
...                                              ...                     ...
Male                  Yadanu52                     1                2.380000
                      Yadaphos40                   2                2.675000
                      Yalae81                      2                3.345000
                      Yalaeria91                   1                1.060000
                      Yaliru88                     1                3.030000
                      Yalo85                       1                3.650000
                      Yalostiphos68                1                4.400000
                      Yarithllodeu72               1                3.750000
                      Yarithrgue83                 1                3.450000
                      Yarithsurgue62               1                4.940000
                      Yarolwen77                   1                4.430000
                      Yasrisu92                    1                3.440000
                      Yastyriaphos75               1                4.750000
                      Yasur35                      1                4.480000
                      Yasur85                      1                1.100000
                      Yathecal72                   1                3.460000
                      Yathedeu43                   2                3.010000
                      Zhisrisu83                   2                3.945000
                      Zontibe81                    3                2.676667
Other / Non-Disclosed Airi27                       1                3.450000
                      Chanosian48                  2                3.760000
                      Eodaisu60                    1                3.940000
                      Haerithp41                   1                4.400000
                      Idairin51                    2                3.500000
                      Jiskirran77                  1                3.390000
                      Lirtim36                     1                1.330000
                      Maluncil97                   2                2.640000
                      Rairith81                    1                2.220000
                      Siarithria38                 2                3.455000
                      Sundim98                     1                4.750000

                                      Total Purchase Value  \
Gender                SN
Female                Adastirin33                     4.48
                      Aerithllora36                   8.64
                      Aethedru70                      3.54
                      Aidain51                        3.45
                      Aiduesu86                       4.48
                      Aillyrin83                      2.89
                      Aisurdru79                      3.51
                      Assilsan72                      4.90
                      Assosia88                       1.33
                      Baelollodeu94                   9.03
                      Chadistaya75                    3.94
                      Chamast86                       2.05
                      Chamilsala65                    8.55
                      Chamirrasya33                   3.05
                      Chamjask73                     13.83
                      Chanastsda67                    3.70
                      Chanirra79                      1.01
                      Chanjask65                      4.32
                      Chanossast57                    4.32
                      Errian63                        3.49
                      Eudanu32                        2.85
                      Eudanu84                        1.02
                      Eusri70                         7.34
                      Frichaststa61                   1.79
                      Frichosia58                     4.43
                      Frichosiala98                   3.54
                      Haisurra41                      4.40
                      Hari50                          5.91
                      Heosurnuru52                    4.46
                      Heudai45                        3.47
...                                                    ...
Male                  Yadanu52                        2.38
                      Yadaphos40                      5.35
                      Yalae81                         6.69
                      Yalaeria91                      1.06
                      Yaliru88                        3.03
                      Yalo85                          3.65
                      Yalostiphos68                   4.40
                      Yarithllodeu72                  3.75
                      Yarithrgue83                    3.45
                      Yarithsurgue62                  4.94
                      Yarolwen77                      4.43
                      Yasrisu92                       3.44
                      Yastyriaphos75                  4.75
                      Yasur35                         4.48
                      Yasur85                         1.10
                      Yathecal72                      3.46
                      Yathedeu43                      6.02
                      Zhisrisu83                      7.89
                      Zontibe81                       8.03
Other / Non-Disclosed Airi27                          3.45
                      Chanosian48                     7.52
                      Eodaisu60                       3.94
                      Haerithp41                      4.40
                      Idairin51                       7.00
                      Jiskirran77                     3.39
                      Lirtim36                        1.33
                      Maluncil97                      5.28
                      Rairith81                       2.22
                      Siarithria38                    6.91
                      Sundim98                        4.75

                                      Avg Total Purchase per Person
Gender                SN
Female                Adastirin33                          4.480000
                      Aerithllora36                        4.320000
                      Aethedru70                           3.540000
                      Aidain51                             3.450000
                      Aiduesu86                            4.480000
                      Aillyrin83                           2.890000
                      Aisurdru79                           1.755000
                      Assilsan72                           4.900000
                      Assosia88                            1.330000
                      Baelollodeu94                        4.515000
                      Chadistaya75                         3.940000
                      Chamast86                            2.050000
                      Chamilsala65                         4.275000
                      Chamirrasya33                        1.525000
                      Chamjask73                           4.610000
                      Chanastsda67                         3.700000
                      Chanirra79                           1.010000
                      Chanjask65                           4.320000
                      Chanossast57                         4.320000
                      Errian63                             3.490000
                      Eudanu32                             2.850000
                      Eudanu84                             1.020000
                      Eusri70                              3.670000
                      Frichaststa61                        1.790000
                      Frichosia58                          4.430000
                      Frichosiala98                        3.540000
                      Haisurra41                           4.400000
                      Hari50                               2.955000
                      Heosurnuru52                         2.230000
                      Heudai45                             3.470000
...                                                             ...
Male                  Yadanu52                             2.380000
                      Yadaphos40                           2.675000
                      Yalae81                              3.345000
                      Yalaeria91                           1.060000
                      Yaliru88                             3.030000
                      Yalo85                               3.650000
                      Yalostiphos68                        4.400000
                      Yarithllodeu72                       3.750000
                      Yarithrgue83                         3.450000
                      Yarithsurgue62                       4.940000
                      Yarolwen77                           4.430000
                      Yasrisu92                            3.440000
                      Yastyriaphos75                       4.750000
                      Yasur35                              4.480000
                      Yasur85                              1.100000
                      Yathecal72                           3.460000
                      Yathedeu43                           3.010000
                      Zhisrisu83                           3.945000
                      Zontibe81                            2.676667
Other / Non-Disclosed Airi27                               3.450000
                      Chanosian48                          3.760000
                      Eodaisu60                            3.940000
                      Haerithp41                           4.400000
                      Idairin51                            3.500000
                      Jiskirran77                          3.390000
                      Lirtim36                             1.330000
                      Maluncil97                           2.640000
                      Rairith81                            2.220000
                      Siarithria38                         3.455000
                      Sundim98                             4.750000

[576 rows x 4 columns]

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [10]:
group_name = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
bin_age = [0, 10, 14, 19, 24, 29, 34, 39, 40.1]

purchase_data["Age Demographic"] = pd.cut(purchase_data["Age"], bin_age, labels=group_name, right=False)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographic
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,25-29
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,25-29
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20-24
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,20-24
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,20-24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,30-34
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,25-29
...,...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61,20-24
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,10-14
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60,15-19
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,35-39
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05,20-24
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15,10-14
756,756,Ilast79,20,Male,73,Ritual Mace,2.05,20-24
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60,15-19
758,758,Iral74,21,Male,182,Toothpick,4.03,20-24
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77,25-29
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38,20-24
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,NaN
762,762,Asur53,26,Male,110,Suspension,1.44,25-29
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75,20-24
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07,15-19
765,765,Irith83,18,Male,130,Alpha,2.07,15-19
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
767,767,Ilmol66,8,Female,92,Final Critic,4.88,<10
768,768,Assassasta79,38,Male,92,Final Critic,4.88,35-39
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,15-19
770,770,Lirtosia63,34,Male,12,Dawne,1.02,35-39
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35,15-19
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58,25-29
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,25-29

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
max_age = purchase_data["Age"].max()
max_age

45

In [12]:
min_age = purchase_data["Age"].min()
min_age

7

In [13]:
group_name = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
bin_age = [0, 10, 14, 19, 24, 29, 34, 39, 40.1]

purchase_data["Age Demographic"] = pd.cut(purchase_data["Age"], bin_age, labels=group_name, right=False)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographic
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,25-29
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,25-29
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20-24
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,20-24
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,20-24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,30-34
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,25-29
...,...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61,20-24
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,10-14
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60,15-19
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,35-39
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05,20-24
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15,10-14
756,756,Ilast79,20,Male,73,Ritual Mace,2.05,20-24
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60,15-19
758,758,Iral74,21,Male,182,Toothpick,4.03,20-24
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77,25-29
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38,20-24
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,NaN
762,762,Asur53,26,Male,110,Suspension,1.44,25-29
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75,20-24
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07,15-19
765,765,Irith83,18,Male,130,Alpha,2.07,15-19
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
767,767,Ilmol66,8,Female,92,Final Critic,4.88,<10
768,768,Assassasta79,38,Male,92,Final Critic,4.88,35-39
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,15-19
770,770,Lirtosia63,34,Male,12,Dawne,1.02,35-39
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35,15-19
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58,25-29
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,25-29

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [14]:
spenders_df = purchase_data.sort_values("Price", ascending=False)
spenders_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographic
554,554,Dyally87,22,Male,63,Stormfury Mace,4.99,20-24
189,189,Hiasri33,23,Male,63,Stormfury Mace,4.99,20-24
110,110,Ririp86,25,Male,139,"Mercy, Katana of Dismay",4.94,25-29
246,246,Lirtilsa71,24,Male,139,"Mercy, Katana of Dismay",4.94,25-29
493,493,Chanirrasta87,14,Male,139,"Mercy, Katana of Dismay",4.94,15-19

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
#Grouping by Players and droping columns
buyers= spenders_df.groupby(['SN'])
spenders=buyers.count()
spenders=spenders["Purchase ID"]

#Calculations
buyersAverage=buyers.mean()
buyersAverage=buyersAverage["Price"]
buyersAverage

#Summary Report
buyersReport=pd.DataFrame({"Purchase Count": spenders,
                                    "Average Purchase Price": buyersAverage})
# Adding the Total Purchase Value
buyersReport["Total Purchase Value"]=buyersReport["Purchase Count"]*buyersReport["Average Purchase Price"]

#Sorting and Formatting
buyersReport=buyersReport.sort_values("Total Purchase Value",ascending=False)
buyersReport["Average Purchase Price"]=buyersReport["Average Purchase Price"].map("${:.2f}".format)
buyersReport["Total Purchase Value"]=buyersReport["Total Purchase Value"].map("${:.2f}".format)
buyersReport.head(10)

              Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                  5                  $3.79               $18.96
Idastidru52                4                  $3.86               $15.45
Chamjask73                 3                  $4.61               $13.83
Iral74                     4                  $3.41               $13.62
Iskadarya95                3                  $4.37               $13.10
Ilarin91                   3                  $4.23               $12.70
Ialallo29                  3                  $3.95               $11.84
Tyidaim51                  3                  $3.94               $11.83
Lassilsala30               3                  $3.84               $11.51
Chadolyla44                3                  $3.82               $11.46

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [18]:
#Grouping by Item ID
products= spenders_df.groupby(['Item ID','Item Name'])
items=products.count()

#Calculations
items=items["Purchase ID"]
itemPrices=products.mean()
itemPrices=itemPrices["Price"]

#Summary Report
itemsReport=pd.DataFrame({"Purchase Count": items,"Item Price": itemPrices})
itemsReport["Total Purchase Value"]=itemsReport["Purchase Count"]*itemsReport["Item Price"]
PitemsReport=itemsReport.copy()

In [19]:
#Sorting and Formatting
itemsReport=itemsReport.sort_values("Purchase Count",ascending=False)
itemsReport["Total Purchase Value"]=itemsReport["Total Purchase Value"].map("${:.2f}".format)
itemsReport["Item Price"]=itemsReport["Item Price"].map("${:.2f}".format)

itemsReport.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [20]:
#Most Profitable Items Report
PitemsReport=PitemsReport.sort_values("Total Purchase Value",ascending=False)
PitemsReport["Total Purchase Value"]=PitemsReport["Total Purchase Value"].map("${:.2f}".format)
PitemsReport["Item Price"]=PitemsReport["Item Price"].map("${:.2f}".format)

PitemsReport.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80