# Good Reads Summary

#### The objective of this assignment is for you to explain what is happening in each cell in clear, understandable language. 

#### _There is no need to code._ The code is there for you, and it already runs. Your task is only to explain what each line in each cell does.

#### The placeholder cells should describe what happens in the cell below it.

**Example**: The cell below imports `pandas` as a dependency because `pandas` functions will be used throughout the program, such as the Pandas `DataFrame` as well as the `read_csv` function.

In [1]:
import pandas as pd

_[Replace this with your clear explanation of what happens in the cell below. Briefly explain why character encoding is necessary.]_

In [3]:
# 1. Assign a variable for the file we are pulling in
# 2. Use Pandas to make a data frame out of the csv file. The encoding='utf-8' is to ensure
# there are no issues with windows character map fonts
# 3. Display the dataframe starting from the top

In [4]:
goodreads_path = "Resources/books_clean.csv"

goodreads_df = pd.read_csv(goodreads_path, encoding="utf-8")
goodreads_df.head()

,ISBN,Publication Year,Original Title,Authors,One Star Reviews,Two Star Reviews,Three Star Reviews,Four Star Reviews,Five Star Reviews
0,439023483,2008.0,The Hunger Games,Suzanne Collins,66715,127936,560092,1481305,2706317
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",75504,101676,455024,1156318,3011543
2,316015849,2005.0,Twilight,Stephenie Meyer,456191,436802,793319,875073,1355439
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,60427,117415,446835,1001952,1714267
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,86236,197621,606158,936012,947718

_[Replace this with your clear explanation of what happens in the cell below. Be sure to explain what is happening with the `iloc` function as well as what is happening with the `axis` setting.]_

In [6]:
#1. Get the total number ("length") of Authors on the list. Unique names, no duplicates incase
# multiple books have been writen per author.
#3. Find the very first published book on the list, .min() finds lowest number, assign to variable
#4. Find the latest books published on the list, .max() finds the greatest number, assign to variabl
#6. Making a new variable, isolating the series of "Total Reviews", Index 4, and getting the sum of the
#   column. The first ":", in "[:, 4:]" indicates to searach all rows.
#   Axis = 1 indicated that you will be summing up the verticle axis yielding total Book Reviews in the DF
#7. Sets the variable to your iloc function in order to display

In [5]:
author_count = len(goodreads_df["Authors"].unique())

earliest_year = goodreads_df["Publication Year"].min()
latest_year = goodreads_df["Publication Year"].max()

goodreads_df['Total Reviews'] = goodreads_df.iloc[:, 4:].sum(axis=1)
total_reviews = sum(goodreads_df['Total Reviews'])

_[Replace this with your clear explanation of what happens in the cell below. Indicate whether this is being created as a **list of dictionaries**, a **dictionary of lists**, or **something else**. Lastly, explain why `author_count` needs to be enclosed in square brackets.]_

In [ ]:
# The summary_table will qualify as a list of dictionaries.
# In Total Unique Authors the dictionary is returning a list because ther were more than 1 Author
# The rest of the dictionaries, are only returning 1 value each.

In [ ]:
summary_table = pd.DataFrame({"Total Unique Authors": [author_count],
                              "Earliest Year": earliest_year,
                              "Latest Year": latest_year,
                              "Total Reviews": total_reviews})
summary_table